/*Universal styles*/

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

body, *, a, span {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

.blue {
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

li, p {
  line-height: 1.4rem;
}

p .grey {
  color: rgba(0, 0, 0, 0.7);
}

img {
  width: 100%;
}

/*Navigation Bar*/
#current span {
  color: #399bd1;
}

#current a {
  background-color: rgba(0, 0, 0, 0);
}

nav span {
  font-weight: bold;
  font-size: 1.1rem;
}

.image-container img {
  opacity: 0.75;
}

.image-container img:hover{
  opacity: 1;
}

/*Jumbotron*/

.jumbotron {
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
  background-image: url("../images/jumbotron-bike.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
}

.jumbotron h1, .jumbotron p {
  color: white;
  text-align: center;
}

.jumbotron p {
  width: 51.3rem;
  margin: 0 auto;
}

.btn-primary {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  width: 11.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 2.8rem;
  transition: box-shadow 300ms ease-in;
  color: white;
  text-align: center;
  font-size: 1.1rem;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/* featured and projects*/

.featured, .projects {
  margin: auto 13rem;
}

.featured h2 {
  margin-bottom: 20px;
}

.projects {
  margin-bottom: 5.85rem;
}
