/*Universal styles*/

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

body, *, a, span {
  font-family: "Open Sans", sans-serif;
}



/*Navigation Bar*/
#current span {
  color: #399bd1;
}

#current a {
  background-color: rgba(0, 0, 0, 0);
}

nav span {
  font-weight: bold;
  font-size: 1.1rem;
}

/*Jumbotron*/

.jumbotron {
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
  background-image: url("../images/jumbotron-bike.jpg");
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
}

.jumbotron h1, .jumbotron p {
  color: white;
  text-align: center;
}

.jumbotron p {
  width: 51.3rem;
  margin: 0 auto;
}

.btn-primary {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  width: 11.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 2.8rem;
  transition: box-shadow 300ms ease-in;
  color: white;
  text-align: center;
  font-size: 1.1rem;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}
